{# @var resume \App\Domain\Resume\Models\Resume #}
{# @var whoami \App\Domain\Whoami\Models\Whoami #}

{% extends 'base.html.twig' %}

{% block body %}
    <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#aside">
        Open Command line
    </button>
    <section id="whoami" class="row whoami">
        <h2><small><i class="fa fa-id-badge"></i></small> Whoami</h2>
        <section class="col-12">
            <article class="row">
                <aside class="col-12 col-md-7 row text-center">
                    <div class="col-12 col-md-6">
                        <picture>
                            <img src="https://media-exp1.licdn.com/dms/image/C5603AQHSOT8HOVGBKQ/profile-displayphoto-shrink_200_200/0?e=1594857600&v=beta&t=t4G_BMwI0FkxqkwFAGsIEtU8bZQwhBaOj_1UhNhh2xw"
                                 alt="" class="img-fluid img-thumbnail">
                        </picture>
                    </div>
                    <div class="col-12 col-md-6 align-self-center">
                        <p class="h1">{{ whoami.me.lastname|upper }} {{ whoami.me.firstname|title }}</p>
                    </div>
                </aside>
                <address class="col-12 col-md-5 align-self-center lead">
                <p><i class="fa fa-birthday-cake"></i> {{ whoami.me.birthday|date('d M Y')|lower }}</p>
                    <p><i class="fa fa-envelope"></i> <a href="mailto:{{ whoami.me.email }}">{{ whoami.me.email }}</a></p>
                    {% if whoami.me.phone is not null %}
                        <p><i class="fa fa-phone"></i> <a href="tel:{{ whoami.me.phone }}">{{ whoami.me.phone }}</a></p>
                    {% endif %}
                    {% if whoami.me.address is not null %}
                        <p><i class="fa fa-address-book"></i> {{ whoami.me.address }}</p>
                    {% endif %}
                </address>
            </article>
        </section>
        <section class="text-justify">
            <article class="row">
                <div class="col-12">
                    {{ whoami.content|raw }}
                </div>
            </article>
        </section>
    </section>

    <section id="resume" class="row">
        <h2><small><i class="fa fa-address-card"></i></small> Curriculum vitae</h2>
        <section class="experiences my-3">
            <h3>Experiences</h3>
            {% for exp in resume.experiences %}
                <article class="row experience my-2">
                    {# @var exp \App\Domain\Resume\Models\Experience #}
                    <div class="col-12 col-md-4">
                        <h4>{{ exp.jobTitle }}</h4>
                        <p class="small"><i class="fa fa-calendar-minus"></i> {{ exp.start|date('m/Y') }}{% if exp.end is not null %} - {{ exp.end|date('m/Y') }}{% endif %}</p>
                    </div>
                    <div class="col-12 col-md-8">
                        <p>{{ exp.description|raw }}</p>
                        <p class="small"><i class="fa fa-map-marker-alt"></i> <a href="{{ exp.website }}" target="_blank">{{ exp.location }}</a></p>
                    </div>
                </article>
                <hr>
            {% endfor %}
        </section>
        <section class="educations my-3">
            <h3>Education</h3>
            {% for edu in resume.educations %}
                <article class="row education">
                    {# @var edu \App\Domain\Resume\Models\Education #}
                    <div class="col-12 col-md-4">
                        <h4>{{ edu.course }}</h4>
                        <p class="small"><i class="fa fa-calendar-minus"></i> {{ edu.start|date('m/Y') }}{% if edu.end is not null %} - {{ edu.end|date('m/Y') }}{% endif %}</p>
                    </div>
                    <div class="col-12 col-md-8">
                        <p>{{ edu.description|raw }}</p>
                        <p class="small"><i class="fa fa-map-marker-alt"></i> {{ edu.location }}</p>
                    </div>
                </article>
                <hr>
            {% endfor %}
        </section>
    </section>

    <section id="projects" class="row">
        <h2><small><i class="fa fa-project-diagram"></i></small> Projets</h2>
        <section class="projects my-3">
            <article class="row">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae earum eius esse minus mollitia nisi repudiandae similique tempore veritatis. Accusantium eius illum labore libero nulla quidem rerum, temporibus unde.
            </article>
        </section>
    </section>

    <section id="fun" class="row">
        <h2><small><i class="fa fa-umbrella-beach"></i></small> Passions</h2>
        <section class="passions my-3">
            <article class="row">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad beatae earum eius esse minus mollitia nisi repudiandae similique tempore veritatis. Accusantium eius illum labore libero nulla quidem rerum, temporibus unde.
            </article>
        </section>
    </section>

    <aside class="collapse width sidebar" id="aside">
        <div class="sidebar-sticky"></div>
    </aside>
{% endblock %}
